                <img class="showimage" src="<%= @bike.image %>">
                <p>Color: <%= @bike.color %></p>
                <p>Brand: <%= @bike.brand %></p>
                <p>Height: <%= @bike.height %></p>
                <p>Weight: <%= @bike.weight %></p>
